// 公共组件的样式

// 头部组件的样式
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.33rem;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 0.4rem;
    i,a {
        font-size: 0.53rem;
    }
    .header_nav {
        display: flex;
        justify-content: space-evenly;
        width: 6.4rem;
        a {
            font-size: 0.48rem;
            color: #797979;
            transition: 0.5s;
            // 激活的nav导航
            &.active {
                font-weight: bold;
                color: #000;
            }
        }
    }
    // 左头部
    .header_left {
        display: flex;
        align-items: center;
        color: #000;
        i {
            font-size: .4rem;
        }
        p {
            font-size: .35rem;
            margin-left: .1rem;
        }
    }
}
.header_fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
// /hoem/my路由组件头部样式
.header.dark {
    background: rgba(0, 0, 0, 0.7) !important;
    i,a.active {
        color: #ffffff;
    }
}
// loading样式
.loading {
    font-size: 0.3rem;
    text-align: center;
    color: #ff5e4d;
    i {
        font-size: 0.3rem;
        margin-right: .3rem;
    }
}

// 单个歌单选项的样式
.song_item {
    width: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info{
        position: relative;
        width: 2.8rem;
        height: 2.8rem;
        position: relative;
        border-radius: 0.13rem;
        overflow: hidden;
        img,.recommend_list .song_des img {
            display: block;
            width: 100%;
            height: 100%;
        }
        p {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            font-size: 0.27rem;
            i {
                font-size: 0.13rem;
            }
            span {
                color: #fff;
                margin: 0.11rem 0.11rem 0.11rem 0;
            }
        }
    }
    >p {
        flex: 1;
        font-size: 0.27rem;
        padding-top: 0.07rem;
        line-height: 1.6;
        color: #393939;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
// 图片懒加载loading
.song_item .info,
.recommend_list .song_des,
.dj_list_item,
.common li,
.player_list .left{
    position: relative;
    img {
        &[lazy = loading], &[lazy = error]{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 1rem !important;
            height: 1rem !important;
            margin: auto;
        }
    }
}
.recommend_list .song_des img,.dj_list_item img,.common li img, .player_list .left img {
    position: inherit !important;
}
.dj_list_item img ,.common img {
    margin: 0 !important;
}
.dj_list_item .info .info_user  img{
    width: .5rem !important;
    height: .5rem !important;
}
// 推荐歌单的样式
.song_recommend {
    display: flex;
    overflow: auto;
    margin: 0 0.4rem;
    &::-webkit-scrollbar { // 去除滚动条
        display: none;
    }
    >a {
        display: block;
        width: 100%;
        height: 100%;
        margin-right: 0.4rem;
    }
    a:last-of-type{
        margin: 0;
    }
}
// 提示
.prompt {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3rem;
    height: 1rem;
    margin: auto;
    font-size: .3rem;
    text-align: center;
    line-height: 1rem;
    color: #ffffff;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}
// 推荐歌单 头部那个是
.discover_song {
    margin: 0.27rem 0;
    .discover_song_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.4rem;
        height: 0.93rem;
        >h3 {
            font-size: 0.41rem;
            color: #000;
            font-weight: bold;
        }
        >p {
            font-size: 0.21rem;
            padding: 0.11rem;
            border: 0.01rem solid #ddd;
            border-radius: 0.27rem;
        }
    }
}
// 滚动导航
.nav_list {
    width: 100%;
    height: 1rem;
    position: relative;
    background-color: #fff;
    border-top: 1px solid #000000;
    .nav_list_scroll {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        >section {
            position: relative;
            flex: 0 0 25%;
            color: #323233;
            font-weight: 500;
            font-size: .35rem;
            text-align: center;
            line-height: 1rem;
            box-sizing: border-box;
        }
        .activate{
            color: #ee0a24;
            font-weight: bolder;
        }
        &::-webkit-scrollbar { // 去除滚动条
            display: none;
        }
    }
}
