// 歌单样式
.recommend {
    overflow: hidden;
    // 歌单头部样式
    .recommend_header {
        background: linear-gradient( 135deg, rgb(142, 132, 133) 0%, rgb(230, 132, 110) 100% ) !important;
        .recommend_header_top {
            display: flex;
            align-items: center;
            height: 1.1rem;
            padding: 0 0.4rem;
            color: #ffffff;
            font-size: .34rem;
            i {
                font-size: 0.4rem;
                margin-right: .1rem;
            }
        }
        .recommend_header_all {
            height: 1.07rem;
            background-color: #fff;
            font-size: 0.37rem;
            color: #333;
            border-radius: 0.6rem 0.6rem 0 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            box-shadow: 0 0.01rem 0.01rem #ddd;
            i {
                margin: 0 0.35rem;
                font-size: 0.53rem;
            }
        }
    }
    // 歌单列表
    >.recommend_list {
        padding: 0 0.35rem;
        li {
            height: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .song_des {
                display: flex;
                max-width: calc(100% - 1.07rem);
                img {
                    display: block;
                    width: 0.99rem;
                    height: 0.99rem;
                    border-radius: 0.13rem;
                    overflow: hidden;
                    margin-right: 0.32rem;
                    flex-shrink: 0;
                }
                .song_des_info {
                    color: #aaa;
                    font-size: 0.29rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    p {
                        flex: 1;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:last-of-type {
                            font-size: 0.22rem;
                        }
                    }
                    .title {
                        color: #333;
                    }
                }
            }
            .song_mv i {
                font-size: .5rem;
            }
        }
    }
}