.video {
  >.nav_list {
    border-top: 1px solid #eeeeee;
  }
  >section {
    width: 95%;
    margin: auto;
    >a {
      display: block;
      width: 100%;
      margin-top: .2rem;
      &:first-child {
        margin: 0;
      }
      >img {
        display: block;
        width: 100%;
        height: 5rem;
        border-radius: .3rem;
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .2rem 0;
        h4 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          font-size: .35rem;
          font-weight: inherit;
          color: #545454;
        }
        img {
          width: 1rem;
          border-radius: 50%;
        }
      }
      .bar {
        display: flex;
        justify-content: space-between;
        .left {
          display: flex;
          align-items: center;
          >img {
            width: .8rem;
            border-radius: 50%;
          }
          >p {
            font-size: .3rem;
            margin-left: .1rem;
            color: #000;
          }
        }
        .icon {
          display: flex;
          align-items: center;
          p {
            &:nth-child(2) {
              margin: 0 .2rem;
            }
            span {
              vertical-align: baseline;
              margin-left: .1rem;
            }
          }
        }
      }
    }
  }
}

// 视频详情
.video_details {
  overflow: hidden;
  .header {
    background: linear-gradient(135deg, #8e8485 0%, #e6846e 100%) !important;
  }
  .header .text {
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    h3 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      font-size: 0.4rem;
      font-weight: inherit;
    }
  }
  .video-react .video-react-big-play-button {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
  .common {
    >li {
      display: flex;
      padding: 0 .2rem;
      margin: 0.3rem 0;
      align-items: center;
      img {
        width: 1.1rem;
        border-radius: 50%;
      }
      >.info {
        margin-left: .3rem;
        p:first-child {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          span {
            color: #0086b3;
            margin-right: .2rem;
          }
        }
      }
    }
  }
}
