// 适用性比较高组件的样式

// 歌曲列表的样式
.newmusiclist_item {
  display: flex;
  padding: 0 10px;
  color: #333;
  .song_wrapper {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    &::after {
      width: 300%;
      height: 300%;
      transform: scale(.333333);
      position: absolute;
      z-index: 20;
      content: " ";
      top: 0;
      left: 0;
      pointer-events: none;
      box-sizing: border-box;
      transform-origin: top left;
      border: 0 solid rgba(0,0,0,.1);
      border-bottom-width: 2px;
    }
    .on {
      color: #999999;
      align-items: center;
      width: 28px;
      font-size: 17px;
      display: flex;
    }
    .noDefault {
      align-items: center;
      width: 28px;
      font-size: 17px;
      display: flex;
    }
    .song_info {
      text-align: left;
      flex: 1 1 auto;
      padding: 6px 0;
      width: 0;
      .song_title {
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: normal;
      }
      .song_detail {
        font-size: 12px;
        color: #888;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: normal;
        i {
          display: inline-block;
          width: 12px;
          height: 8px;
          margin-right: 4px;
          background: url("../images/hot_icon.png") no-repeat;
          background-size: 166px 97px;
        }
      }
    }
    .song_play {
      display: flex;
      padding: 0 10px;
      align-items: center;
      span {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url("../images/hot_icon.png") no-repeat;
        background-position: -24px 0;
        background-size: 166px 97px;
      }
    }
  }
}

// recommend模块组件当中的wrapper样式
.wrapper_recommend {
  position: absolute;
  top: 107px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
// hotsong组件模块当中的wrapper样式
.wrapper_hotsong {
  position: absolute;
  top: 107px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
// search组件模块当中的wrapper样式
.search_wrapper {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
// 详情组件的样式的wrapper样式
.wrapper_detail {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
// 歌词的滚动样式
.wrapper_lyric {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

// detail和player组件的goback样式
.detail_goBack, .player_goback {
  position: absolute;
  left: 10px;
  z-index: 10;
  color: #fff;
  padding-left: 13px;
  margin-bottom: 10px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    transform: rotate(315deg);
    top: 7px;
    left: 0;
  }
  h3 {
    font-weight: bolder;
    line-height: 27px;
    font-size: 16px;
  }
}
.player_goback {
  top: 10px;
}
