// 迷你播放器样式
.small_player {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 53px;
  width: 100vw;
  background: url("../images/playbar.png") repeat-x;
  .play_icon {
    position: absolute;
    left: 4%;
    top: 2vw;
    width: 36px;
    height: 36px;
    background: url("../images/playbar.png") no-repeat;
    background-position: 0 -204px;
  }
  .musicInfo {
    display: block;
    position: relative;
    max-width: 80%;
    margin-left: 18%;
    img {
      position: absolute;
      width: 13vw;
      height: 13vw;
      top: -3vw;
      left: 0;
    }
    p {
      position: absolute;
      left: 15vw;
      top: 2vw;
      color: #e8e8e8;
      font-size: 0.8rem;
      height: 5vw;
      overflow: hidden;
    }
    .process {
      position: absolute;
      top: 8vw;
      left: 15vw;
      width: 60vw;
      .bar {
        width: 100%;
        height: 3px;
        background-color: #EBEBEB;
        .on {
          width: 100%;
          height: 100%;
          background-color: red;
        }
      }
    }
  }
}

// loading
.lds-roller {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: pink;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}