:root {
    /*主题颜色*/
    --themeColor: #409EFF;
    /*主题渐变*/
    --themeLinear: linear-gradient(to left, #65AAF1, #1A8BFF);
    /*主题字体颜色*/
    --themeFontColor: #303133;
    /*主题音乐渐变*/
    --themePlayerColor: linear-gradient(135deg, #C8DDF2 0%, #409EFF 100%);
}
