:root {
    /*主题颜色*/
    --themeColor: #FFD700;
    /*主题渐变*/
    --themeLinear: linear-gradient(to left, #EEE096, #FFD700);
    /*主题字体颜色*/
    --themeFontColor: #303133;
    /*主题音乐渐变*/
    --themePlayerColor: linear-gradient(135deg, #EEE096 0%, #FFD700 100%);
}
