:root {
    /*主题颜色*/
    --themeColor: #708090;
    /*主题渐变*/
    --themeLinear: linear-gradient(to left, #969696, #708090);
    /*主题字体颜色*/
    --themeFontColor: #303133;
    /*主题音乐渐变*/
    --themePlayerColor: linear-gradient(135deg, #969696 0%, #708090 100%);
}
