:root {
    /*主题颜色*/
    --themeColor: #55862F;
    /*主题渐变*/
    --themeLinear: linear-gradient(to left, #AEE682, #55862F);
    /*主题字体颜色*/
    --themeFontColor: #303133;
    /*主题音乐渐变*/
    --themePlayerColor: linear-gradient(135deg, #AEE682 0%, #55862F 100%);
}
