:root {
    /*主题颜色*/
    --themeColor: #FFC0CB;
    /*主题渐变*/
    --themeLinear: linear-gradient(to left, #F9DBE0, #FFC0CB);
    /*主题字体颜色*/
    --themeFontColor: #303133;
    /*主题音乐渐变*/
    --themePlayerColor: linear-gradient(135deg, #F9DBE0 0%, #FFC0CB 100%);
}
