// TopHeader 头部组件的样式
.top_header {
  height: 64px;
  padding: 0 20px;
  background-color: #d43c33;
  .top_header_icon {
    width: 142px;
    height: 25px;
    overflow: hidden;
  }
  .top_header_title {
    position: relative;
    left: 105px;
    display: inline-block;
    width: 55px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 37.5%/100%;
    cursor: pointer;
  }
}

// tab_bar组件的样式
.tab_bar {
  font-size: 15px;
  color: #666;
  .am-tabs-default-bar-underline {
    border: 1.8px rgb(212, 60, 51) solid;
  }
}
