@mixin background($color) {
  background: $color;
}
@mixin positionType ($type) {
  position: $type;
}
// player组件模块的样式
.player {
  overflow: hidden;
  .player_bgc {
    @include positionType(fixed);
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    @include background(#161824);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transform: scale(1.2);
    transform-origin: center;
    filter: blur(10px);
    &::before {
      content: " ";
      @include positionType(absolute);
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      @include background(rgba(0, 0, 0, 0.5));
    }
  }
  .wrapper {
    @include positionType(relative);
    z-index: 1;
    width: 100vw;
    padding-top: 80px;
    box-sizing: border-box;
    // goback组件当中的数据
    .goback {
      @include positionType(absolute);
      left: 10px;
      top: 10px;
      z-index: 100;
      width: 100%;
      padding-left: 13px;
      margin-bottom: 10px;
      color: #fff;
      cursor: pointer;
      h3 {
        font-weight: bolder;
        font-size: 16.5px;
      }
      &::after {
        content: "";
        @include positionType(absolute);
        top: 7px;
        left: 0;
        width: 7px;
        height: 7px;
        border: solid #fff;
        border-width: 3px 0 0 3px;
        transform: rotate(315deg);
      }
    }
    // 播放icon图标样式
    .iconmusic {
      @include positionType(relative);
      margin: 0 auto;
      height: 342px;
      width: 342px;
      .needle {
        @include positionType(absolute);
        top: -80px;
        left: 150px;
        z-index: 2;
        width: 110px;
        height: 157px;
        @include background(url("../images/needle_plus.png") no-repeat);
        background-size: contain;
      }
      .icon_center {
        width: 100%;
        height: 100%;
        &:before{
          content: " ";
          @include positionType(absolute);
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          @include background(url("../images/disc_plus.png") no-repeat);
          background-size: contain;
        }
        .song_img {
          @include positionType(absolute);
          left: 50%;
          top: 50%;
          z-index: 1;
          width: 212px;
          height: 212px;
          margin: -106px 0 0 -106px;
          .song_img_rotate {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            @include background(url("../images/disc_default.png") no-repeat);
            background-size: contain;
            animation: rotate 16s linear infinite;
            img {
              width: 100%;
            }
            @keyframes rotate {
              0%{
                transform: rotate(0deg);
              }
              100% {
                transform: rotate(360deg);
              }
            }
          }
        }
      }
      .play_btn {
        @include positionType(absolute);
        left: 50%;
        top: 50%;
        z-index: 10;
        width: 65px;
        height: 65px;
        @include background(url("../images/play_btn.png"));
        background-size: contain;
        transform: translate(-50%, -50%);
      }
    }
    // 歌词样式
    .song_lyric {
      margin-top: 25px;
      padding: 0 35px;
      .title {
        text-align: center;
        font-size: 18px;
        line-height: 1.1;
        color: #fefefe;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p {
        padding-bottom: 8px;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: hsla(0, 0%, 100%, 0.6);
      }
      .on {
        color: #eb1206;
        font-weight: 600;
        font-size: 18px;
      }
    }
    .link {
      @include positionType(fixed);
      left: 25%;
      bottom: 6vw;
      width: 50%;
      height: 30px;
      border: 1px solid #ff3a3a;
      border-radius: 40px;
      font-size: 16px;
      text-align: center;
      @include background(#ff3a3a);
      color: #fff;
      line-height: 30px;
    }
  }
}

// 迷你播放器的样式
.small_palyer {
  @include positionType(fixed);
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 53px;
  width: 100vw;
  @include background(url("../images/playbar.png") repeat-x);
  .small_palyer_icon {
    @include positionType(absolute);
    left: 4%;
    top: 2vw;
    width: 36px;
    height: 36px;
    @include background(url("../images/playbar.png") no-repeat);
    background-position: 0 -204px;
  }
  .small_palyer_content {
    display: block;
    @include positionType(relative);
    max-width: 80%;
    height: 100%;
    margin-left: 18%;
    img {
      @include positionType(absolute);
      width: 13vw;
      height: 13vw;
      top: -3vw;
      left: 0;
    }
    p {
      @include positionType(absolute);
      left: 15vw;
      top: 2vw;
      color: #e8e8e8;
      font-size: 0.8rem;
      height: 5vw;
      overflow: hidden;
    }
    .process {
      @include positionType(absolute);
      top: 8vw;
      left: 15vw;
      width: 60vw;
      .weui_progress {
        width: 100%;
        height: 3px;
        @include background(#EBEBEB);
      }
      .on {
        width: 0;
        height: 100%;
        background-color: red;
        @include background(red);
      }
    }
  }
}

// 歌词滚动区域
.lyric_wrapper {
  @include positionType(relative);
  left: 0;
  right: 0;
  top: 14px;
  height: 40vw;
  overflow: hidden;
}

