// 音乐展示列表样式部分
  @mixin displayType ($type) {
    display: $type;
  }
  @mixin backgroundImg ($url) {
    background: url($url) no-repeat;
    background-size: 166px 97px;
  }
  @mixin textHide ($size, $color) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    font-size: $size;
    color: $color;
  }
  .song_title {
    @include textHide(17px, #333);
  }
  .num {
    @include displayType(flex);
    align-items: center;
    color: #999;
    width: 28px;
    font-size: 17px;
    &.on {
      color: red;
    }
  }
  .am-list-content > .item {
    width: 100%;
  }
  .am-list-item .am-list-line .am-list-content {
    @include displayType(flex);
  }
  .am-list-body .am-list-line .am-list-extra {
    flex-basis: initial;
  }
  .am-list-item .am-list-line-multiple {
    padding: 8px 15px 8px 0;
  }
  .song_play {
    @include displayType(flex);
    align-items: center;
    span {
      @include displayType(inline-block);
      width: 22px;
      height: 22px;
      @include backgroundImg("../images/hot_icon.png");
      background-position: -24px 0;
    }
  }
  .song_detail {
    @include textHide(12px, #888);
    background-color: white;
    i {
      @include displayType(inline-block);
      width: 12px;
      height: 8px;
      margin-right: 6px;
      @include backgroundImg("../images/hot_icon.png");
      background-size: 166px 97px;
    }
  }

  .link {
    @include displayType(block);
    width: 100%;
    height: 100%;
  }
