@mixin displayType ($type) {
  display: $type;
}
@mixin positionType ($type) {
  position: $type;
}
$zero: 0;
body {
  font: 14px/1.5 Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
}
// 头部
.top {
  @include positionType(fixed);
  top: $zero;
  left: $zero;
  z-index: 100;
  width: 100%;
  height: 108px;
  // TopHeader 头部组件的样式
  .top_header {
    height: 64px;
    padding: $zero 20px;
    background-color: #d43c33;
    .top_header_icon {
      overflow: hidden;
      width: 142px;
      height: 25px;
    }
    .top_header_title {
      width: 55px;
      height: 30px;
      line-height: 30px;
      padding: $zero 10px;
      color: #fff;
      font-size: 15px;
      border: 1px solid white;
      border-radius: 37.5%/100%;
      cursor: pointer;
    }
    .am-flexbox-item {
      flex: inherit;
      margin-left: $zero;
    }
  }

  // tab_bar组件的样式
  .tab_bar {
    font-size: 15px;
    color: #666;
    .am-tabs-default-bar-underline {
      border: 1.8px rgb(212, 60, 51) solid;
    }
  }
}

// 推荐音乐部分
.recommend {
  // 标题部分
  .title {
    @include displayType(block);
    @include positionType(relative);
    padding-left: 9px;
    margin-bottom: 14px;
    font-size: 17px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    &::after {
      content: " ";
      @include positionType(absolute);
      left: $zero;
      top: 50%;
      margin-top: -9px;
      width: 2px;
      height: 16px;
      background-color: #d33a31;
    }
  }
  // 推荐歌单部分
  .song_blank {
    padding-bottom: 24px;
  }
  .grid {
    .item {
      width: 40%;
      height: 170px;
      margin: $zero;
      padding: $zero 2px;
    }
    .am-card-header-content img {
      width: 100%;
    }
    .list {
      padding-bottom: 16px;
      .am-card-header,.am-card-body, .am-card {
        padding: $zero;
      }
      .am-wingblank.am-wingblank-lg {
        margin:0;
      }
      .am-card-header-content {
        flex: inherit;
        width: 100%;
      }
      .am-card-header-extra span {
        @include positionType(absolute);
        right: 5px;
        top: 2px;
        z-index: 3;
        padding-left: 13px;
        color: #fff;
        font-size: 12px;
        background-position: 0;
        background-image: url("../images/icon.svg");
        background-repeat: no-repeat;
        background-size: 11px 10px;
        text-shadow: 1px 0 0 rgba(0,0,0,.15);
      }
      .am-card-body div{
        overflow: hidden;
        padding: 6px 2px 0 6px;
        line-height: 1.2;
        font-size: 13px;
        max-height: 30px;
        color: black;
      }
    }
    .am-whitespace, .am-whitespace-lg {
      @include displayType(none);
    }
  }
}

// foot脚部组件部分
.foot {
  @include positionType(relative);
  padding-top: 53.3%;
  margin-top: 4px;
  background: url("../images/footbg.png") no-repeat;
  background-size: contain;
  .foot_wrapper {
    @include positionType(absolute);
    left: $zero;
    right: $zero;
    bottom: $zero;
    top: $zero;
    z-index: 1;
    text-align: center;
    .foot_logo {
      padding-top: 12.5%;
      img {
        @include displayType(block);
        margin: $zero auto;
        width: 230px;
        height: 44px;
      }
    }
  }
}

// recommend组件需要用BScroll滚动的区域样式
.recommend_wrapper {
  @include positionType(absolute);
  top: 107px;
  right: $zero;
  bottom: $zero;
  left: $zero;
  overflow: hidden;
}
