// 搜索组件样式
.search {
  position: relative;
  top: 105px;
  .search_music {
    background: #fbfcfd;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 10px;
  }
  .hot_list {
    padding: 15px 10px 0;
    text-align: left;
    h3 {
      font-size: 12px;
      line-height: 12px;
      color: #666;
    }
    .list {
      margin: 10px 0 7px;
      & > div {
        position: relative;
        display: inline-block;
        height: 32px;
        margin-right: 8px;
        margin-bottom: 8px;
        padding: 0 14px;
        font-size: 14px;
        line-height: 32px;
        color: #333;
        border-radius: 37.5%/100%;
        cursor: pointer;
      }
    }
  }
}
