@mixin positionType ($top) {
  position: absolute;
  left:0;
  top: $top;
  right: 0;
  bottom: 0;
}
// 热歌榜组件
.songhot {
  // banner组件部分样式
  .banner {
    position: relative;
    padding-top: 38.9%;
    overflow: hidden;
    background: url("../images/hot_bg.jpg") no-repeat;
    background-size: contain;
    .banner_flex {
      @include positionType(0);
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      padding-left: 20px;
      box-sizing: border-box;
      &::after {
        content: " ";
        @include positionType(0);
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.2);
      }
      .banner_flex_icon {
        width: 142px;
        height: 67px;
        background-image: url("../images/hot_icon.png");
        background-position: -24px -30px;
        background-size: 166px 97px;
      }
      .banner_flex_time {
        text-align: left;
        margin-top: 10px;
        color: hsla(0, 0%, 100%, 0.8);
        font-size: 12px;
        transform: scale(0.91);
        transform-origin: left top;
      }
    }
  }
}
.songhot_wrapper {
  @include positionType(105px);
  overflow: hidden;
}
